
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
  <test name="bdd">
    <classes>
      <class name="com.company.project.automation.runner.TestRunner"/>
    </classes>

  </test>
  <listeners>
    <listener class-name="com.company.project.automation.hooks.RepoCheckListener"/>
  </listeners>
</suite>
